
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#miModal">
    Nuevo Detalle Seccion
</button>

<br />
<br />

<table id="detallesecciones" class="table table-bordered table-striped">


    <thead>
        <tr>
            <th>Id</th>
            <th>Seccion</th>
            <th>Materia</th>
            <th>Profesor</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody></tbody>
</table>


<!----------------- Ventana Modal ------------------------------------->
<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Profesor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="limpiar()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="frmDetalleSecciones">
                    <input type="hidden" id="Id" name="Id" />

                    <div class="form-group">
                        <label>Seccion</label>
                        <select id="Seccion" name="Seccion" class="form-control">
                            <option value="-1">Seleccione una Seccion</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label>Materia</label>
                        <select id="Materia" name="Materia" class="form-control" onchange="ObtenerProfesores()">
                            <option value="-1">Seleccione una Materia</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label>Profesor</label>
                        <select id="Profesor" name="Profesor" class="form-control">
                            <option value="-1">Seleccione una Profesor</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="submit" id="btnGuardar" value="Guardar" class="btn btn-primary" />
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="limpiar()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin de la ventana Modal -->

<script src="~/Scripts/DetalleSeccionAjax.js"></script>